body {
	color: #000;
	font-family: 'Montserrat', sans-serif;
}
a {
	color: #000;
	text-decoration: none;
}
thead, tbody, tfoot {
	border: none;
}
ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.wrap {
	background-color: #000;
	overflow: hidden;
}
.wrapper {
	overflow: hidden;
}
.section {
	background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
    width: 100%;
}
.fp-tableCell {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.5) 100%);
}
.slide1 {
	background-image: url(img/mainpage/1.jpg);
}
.slide2 {
	background-image: url(img/mainpage/2.jpg);
}
.slide3 {
	background-image: url(img/mainpage/3.jpg);
}
.slide4 {
	background-image: url(img/mainpage/4.jpg);
}
.slide5 {
	background-image: url(img/mainpage/5.jpg);
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* header */
.header {
    border-bottom: 1px solid rgba(189, 189, 189, .5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.logo {
	padding-right: 15px;
}
.header_left {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 45%;
	align-items: center;
	padding-left: 24px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 24px;
	border-right: 1px solid rgba(189, 189, 189, .5);
	z-index: 1;
}
.header_right {
	width: 55%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}
.header_text {
    display: flex;
    align-items: center;
    text-align: right;
    color: #828282;
    flex: 1;
    justify-content: flex-end;
    font-size: 26px;
    padding-right: 30px;
    position: absolute;
    right: 0;
    width: 90%;
    z-index: 10;
    height: 100%;
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
.breadcramb {
    display: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 10px 18px;
    color: #BDBDBD;
    font-weight: bold;
    border-bottom: 1px solid rgba(189, 189, 189, .5);
    outline: none;
}
.phone {
	font-size: 20px;
	color: #fff;
	padding-top: 10px;
}
.header_search {
    display: flex;
    align-items: center;
	position: relative;
	width: 100%;
}
.phone span {
	color: #9BC329;
}
.search_block {
	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
.search_block_page {
    padding: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    font-size: 16px;
    width: 330px;
    border-bottom: 1px solid #BDBDBD;
}
input[type="submit"].search_submit_page {
    height: 27px;
    display: inline-block;
    float: left;
    border: none;
    cursor: pointer;
    transition: opacity .4s ease;
    padding: 0;
    background: transparent;
    color: #828282;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 10px;
}
input[type="text"].search {
    height: 30px;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: #fff;
    padding: 0;
    position: absolute;
    top: 34px;
    left: 110px;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    font-size: 16px;
    width: 330px;
    border-bottom: 1px solid #BDBDBD;
}
input[type="text"]::placeholder {
	color: #BDBDBD;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}
.search_trigger {
	display: flex;
	height: 100%;
	width: 106px;
	align-items: center;
	justify-content: center;
	border-right: 1px solid rgba(189, 189, 189, .5);
}
input[type="submit"].search_submit {
	height: 27px;
    width: 60px;
    display: inline-block;
    float: left;
    border: none;
    position: absolute;
    top: 42px;
    left: 444px;
    z-index: 2;
    cursor: pointer;
    transition: opacity .4s ease;
    padding: 0;
    background: transparent;
    color: #828282;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}
/* page */
.wrap_page {
	background-color: #fff;
	height: 100vh;
}
.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}
.row_left {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.row_right {
	width: 40%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.row_right .slider-for {
	flex: 1 auto;
}
.slider-nav img {
	width: 100px;
	height: 70px;
	outline: none;
	cursor: pointer;
}
.row_right .slider-nav {
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 18px;
	padding-bottom: 36px;
	outline: none;
}
.row_right .slider-for .slick-list, .row_right .slider-for .slick-list, .row_right .slider-for .slick-list .slick-track, .row_right .slider-for .slick-list .slick-track .slick-slide, .row_right .slider-for .slick-list .slick-track .slick-slide div {
	height: 100%;
	outline: none;
}
.slide_nav {
	display: flex;
	align-items: center;
}
.slide_content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.row_right .slick-slide div {
	display: flex;
	align-items: center;
}
.header_page_left {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px;
	flex: 1;
	border-right: 1px solid rgba(189, 189, 189, .5);
}
.header_page_right .header_search {
	height: 100%;
}
.header_page_right {
	display: flex;
	flex-direction: row;
}
.page_header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.header_page_left .phone {
	color: #446869;
}
.prev {
	position: absolute;
	top: 45%;
	left: 10px;
	width: 14px;
	height: 28px;
	background-image: url(./img/prev.png);
	background-repeat: no-repeat;
}
.next {
	position: absolute;
	top: 45%;
	right: 10px;
	width: 14px;
	height: 28px;
	background-image: url(./img/next.png);
	background-repeat: no-repeat;
}
.stroy_wrap {
	border-right: 1px solid rgba(189, 189, 189, .5);
    border-top: 1px solid rgba(189, 189, 189, .5);
    flex: 1;
}
.stroy_wrap .tabs {
	border: none;
	display: flex;
}
.stroy_wrap .tabs-title:first-child {
	padding-left: 80px;
	border-bottom: 1px solid rgba(189, 189, 189, .5);
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
	background-color: transparent;
}
.stroy_wrap .tabs-title {
	border-bottom: 1px solid rgba(189, 189, 189, .5);
}
.stroy_wrap .tabs-title.is-active {
	border-bottom: none;
}
.stroy_wrap .tabs-title > a[aria-selected='true'] {
	background-color: transparent;
	color: #9BC329;
	border-bottom: none;
}
.stroy_wrap .tabs-title:last-child {
    flex: 1;
    border-bottom: 1px solid rgba(189, 189, 189, .5);
}
.stroy_wrap .tabs-title > a {
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
	padding: 18px;
	color: #BDBDBD;
	font-weight: bold;
	border-right: 1px solid rgba(189, 189, 189, .5);
	outline: none;
}
.stroy_wrap ul li:last-child {
    border-bottom: 1px solid rgba(189, 189, 189, .5);
    flex: 1;
}
.page_content {
	padding-left: 80px;
}
.page_content h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: normal;
	font-family: "Montserrat", sans-serif;
	color: #4F4F4F;
	margin-bottom: 25px;
}
.page_content p {
	margin-bottom: 20px;
	line-height: 20px;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #4F4F4F;
}
.page_footer_menu ul li a {
	color: #4F4F4F!important;
}
.stroy_wrap .tabs-content {
	border: none;
}
.page_footer {
	padding-left: 55px;
	padding-top: 18px;
	padding-bottom: 30px;
	border-top: 1px solid rgba(189, 189, 189, .5);
	border-right: 1px solid rgba(189, 189, 189, .5);
}
.page_footer_catalog {
	padding-left: 55px;
	padding-top: 25px;
	padding-bottom: 30px;
	border-top: 1px solid rgba(189, 189, 189, .5);
}
.page_footer_menu ul li a.active {
	color: #9BC329!important;
}
/* pagination */
.pagination {
	border-top: 1px solid rgba(189, 189, 189, .5);
}
.pagination ul {
	display: flex;
	flex-direction: row;
}
.pagination ul li a {
    padding: 18px 25px;
    color: #AAAAAA;
    border-right: 1px solid rgba(189, 189, 189, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.pagination ul li a.active {
	color: #9BC329;
}
/* form */
.main_form {
	padding-left: 40px;
	padding-top: 200px;
}
.main_form h3 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: normal;
	color: #828282;
}
.main_form_container {
	display: flex;
	flex-direction: column;
}
.form_row {
	display: flex;
	flex-direction: row;
}
.partner_form_style input[type=text] {
	background-color: #F9F9F9;
}
.partner_input {
    width: 48%;
}
.mail_text {
	width: 100%;
}
.partner_form_row {
	display: flex;
	justify-content: space-between;
}
.main_form_container input[type=text] {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #9BC329;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    outline: none;
    margin-bottom: 20px;
}
.form_volume {
	width: 55%;
}
.form_row_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-top: 20px;
}
.form_row_check label {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: normal;
	color: #828282;
	padding-right: 35px;
}
.main_form_container input[type=text]::placeholder {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #828282;
}
.form_phone {
	margin-left: 5%;
	width: 40%;
}
.form_name {
	width: 55%;
}
/* contact */
.contact_title h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    color: #4F4F4F;
    padding-left: 80px;
    border-bottom: 1px solid rgba(189, 189, 189, .5);
    margin-bottom: 0;
    padding-bottom: 20px;
}
.contact_soc {
	display: flex;
	flex-direction: column;
	padding-left: 80px;
	padding-top: 15px;
}
.contact_soc a {
    border: 1px solid rgba(189, 189, 189, .5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.contact_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
}
.contact_row1 {
	width: 30%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(189, 189, 189, .5);
}
.contact_row2 {
	width: 40%;
	display: flex;
	flex-direction: column;
}
.contact_row3 {
	width: 30%;
}
.contact_logo {
	display: flex;
	align-items: center;
	height: 80px;
}
.contact_salon {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(189, 189, 189, .5);
	padding-left: 80px;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 40px;
}
.contact_inner {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #4F4F4F;
}
.contact_sklad {
	padding-left: 40px;
	padding-top: 30px;
}
.contact_salon2 {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(189, 189, 189, .5);
	padding-left: 40px;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 40px;
}
.contact_text_title {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #4F4F4F;
	margin-top: 15px;
	margin-bottom: 15px;
}
/* canvas */
.search_trigger_mobile {
	display: none;
}
.off-canvas {
	background-color: #fff;
}
.canvas_header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.canvas_phone {
	flex: 1;
	padding: 30px 25px;
	border-right: 1px solid rgba(0, 0, 0, 0.06);
}
.canvas_burger {
	padding: 26px;
	width: 80px;
	height: 80px;
}
.canvas_menu li span {
	font-size: 14px;
	color: #BDBDBD;
	padding: 30px 25px;
	font-family: "Montserrat", sans-serif;
	display: flex;
}
.canvas_header a {
	color: #9BC329;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: normal;
}
.canvas_header a span {
	color: #222222;
}
.position-right {
	width: 350px;
}
.canvas_menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.canvas_menu li a {
	padding: 25px;
	color: #4F4F4F;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	line-height: normal;
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.canvas_header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.burger_inner {
	display: none;
}
.search_block_canvas {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
input[type="text"].search_canvas {
    border: none;
    outline: none;
    color: #000;
    background: none;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #9BC329;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    background-image: url(./img/search_canvas.png);
    background-position: 18px center;
    background-repeat: no-repeat;
	width: 100%;
}
input[type="submit"].search_submit_canvas {
    cursor: pointer;
    padding: 0;
    background: transparent;
    color: #9BC329;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #9BC329;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.search_submit_canvas:focus {
	color: #fff;
	background-color: #9BC329;
}
/* main */
.main_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 85px;
    padding-right: 110px;
    position: absolute;
    top: 33%;
	width: 100%;
}
.arrow {
	position: absolute;
	right: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	top: 95px;
}
.arrow_up_inner {
	background-image: url(./img/arrow-up.png);
}
.arrow_down_inner {
	background-image: url(./img/arrow-down.png);
}
.arrow_up_inner, .arrow_down_inner {
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 12px;
    height: 16px;
}
.arrow_up, .arrow_down {
    border-radius: 50%;
    border: 1px solid rgba(189, 189, 189, 0.5);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.arrow_up:hover, .arrow_down:hover {
	border: 1px solid rgba(189, 189, 189, 1);
}
.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
}
.fp-enabled body, html.fp-enabled {
	background-color: #000;
}
.fp-section {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .7s ease-in-out;
}

.fp-section.active {
	visibility: visible!important;
	opacity: 1;
	position: relative;
}

.fp-slidesContainer {
	width: 100%!important;
	transform: none!important;
}

.fp-slide {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .7s ease-in-out;
}

.fp-slide.active {
	visibility: visible;
	opacity: 1;
}
.button_inner {
    position: absolute;
    top: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 68px;
}
.main_left {
	width: 55%;
	height: 322px;
}
.main_left h2 {
	color: #fff;
	font-size: 64px;
	line-height: 64px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.main_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 92px;
}
.main_text span {
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #828282;
	padding-right: 7px;
}
.main_text_active {
	color: #BDBDBD!important;
}
.main_right {
	width: 45%;
    display: flex;
    justify-content: flex-end;
}
/* catalog */
.catalog_back {
    position: relative;
}
.catalog_back:after {
    content: '';
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 80%, rgba(0,0,0,0.5) 100%);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header_catalog {
	display: flex;
	flex-direction: row;
	z-index: 11;
}
.header_catalog.fixed {
	background-color: #fff;
}
.catalog_wrap {
	display: flex;
	flex-direction: row;
	flex: 1;
	padding-left: 80px;
	padding-right: 40px;
}
.catalog_wrap_menu {
	display: flex;
	flex-direction: row;
	flex: 1;
}
.catalog_content {
    padding-left: 40px;
    padding-top: 32px;
    padding-right: 100px;
}
.catalog_desc p {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	color: #4F4F4F;
	line-height: 20px;
}
.row_catalog_left {
	width: 65%;
	border-right: 1px solid rgba(189, 189, 189, .5);
}
.row_catalog {
	width: 35%;
}
.catalog_title {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.catalog_title h2 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: #4F4F4F;
	margin-top: 20px;
	margin-bottom: 32px;
}
#check_id {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.form_row_check input[type=checkbox]:checked ~ .checkmark {
    background-color: #9BC329;
}
.checkmark {
    position: absolute;
    top: 4px;
    right: 8px;
    height: 15px;
    width: 15px;
    background-color: #eee;
	border: 1px solid #aaa;
}
.form_row_check input:checked ~ .checkmark:after {
    display: block;
}
.position-right {
    width: 350px;
    -webkit-transform: translateX(350px);
    -ms-transform: translateX(350px);
    transform: translateX(350px);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.form_row_check {
	position: relative;
	display: flex;
}
.form_row_button input[type="submit"] {
    background: #9BC329;
    box-shadow: 0px 4px 20px rgba(155, 195, 41, 0.4);
    border-radius: 80px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF;
    padding: 15px 42px;
	cursor: pointer;
	outline: none;
}
.catalog_title a {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	text-decoration-line: underline;
	color: #9BC329;
	margin-left: 20px;
}
.catalog_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}
.catalog_block {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    padding-bottom: 40px;
}
.catalog_block a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.catalog_block_content:hover {
	border-color: #9BC329;
}
.catalog_block_content:hover .catalog_block_title span {
	color: #9BC329;
}
.catalog_block img {
	width: 100%;
}
.catalog_block_content {
    border: 1px solid rgba(189, 189, 189, .5);
	position: relative;
}
.catalog_block_title {
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 20px;
	padding-left: 8px;
}
.catalog_block_title span {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: #4F4F4F;
}
.breadcramb_catalog {
	color: #fff;
	z-index: 1;
	position: relative;
	padding-left: 80px;
	padding-top: 24px;
	padding-bottom: 24px;
    border-top: 1px solid rgba(189, 189, 189, .5);
}
.breadcramb_catalog h1 {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
}
.row {
	width: 50%;
}
.row:first-child {
	border-right: 1px solid rgba(189, 189, 189, 1);
}
.container_catalog {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.container_catalog_inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
	top: 0;
    bottom: 0;
}
.brend_top {
    padding-left: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    min-height: 101px;
    display: flex;
    align-items: center;
}
.row:last-child .brend_top {
	padding-left: 20px;
}
.row:last-child .brend_bottom {
	padding-left: 20px;
}
.brend_bottom {
	padding-left: 80px;
	padding-top: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/* catalogin */
.catalogin_content {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	padding-right: 20px;
}
.opt_content {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	padding-right: 80px;
}
.catalogin_slide_inner {
	display: flex;
	flex-direction: row;
}
.catalogin_slide_2 .slick-slide .catalogin_trigger {
	height: 100px!important;
	overflow: hidden!important;
	border: 1px solid rgba(189, 189, 189, .5);
}
.catalogin_slide_1 {
	width: 60%;
}
.catalogin_slide_1 .slick-slide .catalogin_slide {
    height: 340px!important;
    overflow: hidden;
}
.catalogin_slide_2 {
	padding-left: 10px;
}
.catalogin_slide_2.slick-initialized .slick-slide {
    width: 50%!important;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 13px;
    outline: none;
}
.catalogin_slide_2.slick-initialized .slick-track {
	width: 100%!important;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.catalogin_content_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catalogin_block_inner {
	width: 25%;
	padding: 20px;
}
.catalogin_block {
	position: relative;
	display: flex;
    flex-direction: column;
}
.catalogin_block a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.catalogin_block span {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	min-height: 42px;
	border-left: 1px solid rgba(189, 189, 189, .5);
	border-right: 1px solid rgba(189, 189, 189, .5);
	border-bottom: 1px solid rgba(189, 189, 189, .5);
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #4F4F4F;
}
.catalogin_content_inner {
	margin-left: -20px;
	margin-right: -20px;
	padding-bottom: 30px;
}
.back a {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	color: #BDBDBD;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.back a img {
	margin-right: 10px;
}
.catalogin_content_title h2 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 18px;
	color: #4F4F4F;
}
/* tovar */
.tovar_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 40px;
}
.tovar_slide_inner {
	width: 40%;
}
.tovar_slide_1 {
	height: 300px;
	overflow: hidden;
}
.tovar_desc {
	width: 60%;
	padding-left: 40px;
}
.tovar_desc h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #4F4F4F;
    margin-top: 34px;
    margin-bottom: 20px;
}
.tovar_slide_2.slick-initialized .slick-slide {
    width: 25%!important;
    height: 60px;
    overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	outline: none;
	cursor: pointer;
}
.tovar_slide_2.slick-initialized .slick-track {
    margin-left: -10px;
    margin-right: -10px;
    width: 100%!important;
}
.tovar_slide_inner_text {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #828282;
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
}
.tovar_desc a {
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #9BC329;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.tovar_desc a img {
	margin-left: 10px;
}
.tovar_desc_text ul li {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #4F4F4F;
	margin-bottom: 5px;
}
.tovar_desc_text ul li span {
	color: #828282;
	margin-right: 10px;
}
.pagingInfo_inner {
    text-align: center;
    width: 100%;
    display: flex;
	align-items: center;
	flex-direction: row;
    justify-content: center;
	margin-bottom: 10px;
}
.pagingInfo {
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #4F4F4F;
}
/* opt catalog */
.download {
	margin-top: 15px;
	margin-bottom: 15px;
}
.download a {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	text-decoration-line: underline;
	color: #9BC329;
}
.opt_tabs .tabs-content {
	margin-left: -20px;
	margin-right: -20px;
	border: none;
}
.opt_tabs .tabs-content .tabs-panel {
	border: none;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}
.opt_tabs .tabs-content .tabs-panel.is-active {
	display: flex;
}
.opt_inner {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}
.opt_tabs {
	padding-bottom: 20px;
}
.opt_block {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	position: relative;
}
.opt_block a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.opt_tabs .tabs {
	border: none;
	margin-bottom: 30px;
}
.opt_tabs ul li a {
	padding-left: 30px;
	border-right: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 5px;
	border: 1px solid #828282;
	margin-right: 15px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #828282;
}
.opt_tabs ul li a:hover {
	color: #828282;
}
.opt_tabs ul li a[aria-selected='true'] {
	background-color: #9BC329;
	color: #fff;
	border: none;
}
.opt_block span {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: #4F4F4F;
	padding-left: 8px;
	padding-top: 8px;
	padding-right: 8px;
	min-height: 45px;
	border-left: 1px solid rgba(189, 189, 189, .5);
	border-right: 1px solid rgba(189, 189, 189, .5);
	border-bottom: 1px solid rgba(189, 189, 189, .5);
}
/* mobile form */
.mobile_form {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    color: #9BC329;
    display: none;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.mobile_form img {
	margin-left: 10px;
}
/* page list */
.catalog_back_white {
	background-color: #fff;
}
.catalog_back_white input[type="text"].search {
	color: #000
}
.catalog_back_white .phone {
	color: #446869;
}
.catalog_back_white .header_catalog {
	border-bottom: 1px solid rgba(189, 189, 189, .5);
}
.page_list_title h1 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: normal;
	color: #BDBDBD;
	padding-left: 80px;
	margin-top: 25px;
	margin-bottom: 15px;
}
.news_inner {
    display: flex;
    flex-direction: column;
}
.page_list_title {
	padding-top: 100px;
}
.news_last {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #F8F8F8;
    padding-top: 40px;
    padding-bottom: 40px;
}
.news_last_desc_text p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #4F4F4F;
    margin-top: 0;
}
.news_last_desc_date {
    width: 100%;
    text-align: right;
}
.news_last_desc_date span {
	font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #BDBDBD;
}
.news_last_desc {
    padding-left: 40px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.news_last_img {
	width: 40%;
	position: relative;
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}
.news_last_desc {
	width: 60%;
}
.news_list_block {
	width: 25%;
	padding-left: 30px;
	padding-right: 30px;
}
.news_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 47px;
    padding-right: 54px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.news_last_img h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: normal;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
	padding-left: 20px;
}
.news_last_img:after {
    content: "";
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.2) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.news_list_block h2 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: normal;
	color: #4F4F4F;
}
.news_list_except {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #4F4F4F;
}
.news_list_date {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    text-align: right;
    color: #828282;
    width: 100%;
    display: block;
}
.news_list_img {
	min-height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.news_list_img:after {
	content: "";
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.2) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.news_list_img h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.fixed_bottom {
    background-color: #fff;
}
.news_last_img a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.news_list_img a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
/* partner */
.partner_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 80px;
    height: 100%;
}
.partner_desc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    padding-top: 40px;
}
.partner_desc_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
}
.partner_desc_img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.partner_desc_block h3 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: normal;
	color: #4F4F4F;
}
.partner_desc_block span {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #4F4F4F;
	padding-bottom: 15px;
}
.partner_desc_block a {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	text-decoration-line: underline;
	color: #9BC329;
}
.partner_title h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: normal;
    color: #9BC329;
    padding-left: 80px;
    margin-top: 25px;
    padding-bottom: 15px;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(189, 189, 189, .5);
}
.partner_form {
	background-color: #F9F9F9;
	flex: 1;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 70px;
}
.fixed_bottom_partner {
    background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.partner_form_img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 15px;
}
.partner_form h3 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: normal;
	color: #4F4F4F;
}
.search_inner {
	padding-left: 80px;
	padding-top: 20px;
}
.search_inner h1 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: normal;
	color: #BDBDBD;
}
.search_form input[type=text] {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 380px;
    padding-left: 4px;
    margin-right: 15px;
	outline: none;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: #4F4F4F;
}
.search_form input[type=submit] {
	background-color: #fff;
	border: 1px solid #9BC329;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	text-align: center;
	color: #9BC329;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 1px;
	outline: none;
	cursor: pointer;
}
.search_form input[type=submit]:hover {
	background-color: #9BC329;
	border: 1px solid #9BC329;
	color: #fff;
}
.search_result {
	padding-top: 30px;
}
.search_result_title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 6px;
	border-bottom: 1px solid rgba(189, 189, 189, .5);
	font-size: 14px;
	line-height: normal;
	width: 660px;
}
.search_result_title_text {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	color: #4F4F4F;
	margin-right: 10px;
}
.search_result_title_button {
	display: flex;
	flex-direction: row;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #4F4F4F;
}
.search_result_title_button span {
	margin-right: 15px;
}
.search_result_title_button a.deactive {
	color: #BDBDBD;
}
.search_result_title_button a {
	position: relative;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #4F4F4F;
}
.search_right {
	margin-left: 15px;
}
.search_right:after {
    content: "";
    display: block;
    background-image: url(./img/search_right.png);
    width: 6px;
    height: 9px;
    background-repeat: no-repeat;
    position: absolute;
    right: -12px;
    top: 3px;
}
.searh_left {
	margin-left: 18px;
}
.searh_left:after {
	content: "";
	display: block;
	background-image: url(./img/search_left.png);
	width: 6px;
    height: 9px;
    background-repeat: no-repeat;
    position: absolute;
    left: -12px;
    top: 3px;
}
.search_right:before {
    content: "";
    display: block;
    position: absolute;
    left: -7px;
    top: -2px;
    height: 17px;
    width: 1px;
    background-color: rgba(189, 189, 189, 0.5);
}
.search_result_list {
	padding-top: 30px;
}
.search_result_list ul li a {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: #4F4F4F;
	margin-bottom: 15px;
	display: flex;
}
.search_result_list ul li a:hover {
	color: #9BC329;
}
.search_result_list ul {
	list-style-type: disc;
	padding-left: 20px;
}
/* footer */
.footer {
    position: absolute;
    bottom: 80px;
    left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 80px;
}
.footer_copyright {
	color: rgba(255,255,255,.5);
	font-size: 14px;
	position: absolute;
	right: 130px;
	bottom: 80px;
}
.footer_menu ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer_menu ul li {
	padding-right: 24px;
}
.footer_menu ul li:first-child {
	padding-right: 10px;
	display: flex;
}
.footer_menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
@media (max-width: 1450px) {
	.header_text {
		width: 82%;
	}
	.header_left {
		width: 70%;
	}
	.header_right {
	    width: 30%;
	}
	.main_left {
		width: 64%;
	}
	.main_right {
		width: 35%;
	}
	.footer_menu ul li a {
		font-size: 13px;
	}
	.page_footer {
	    padding-left: 40px;
	}
	.footer_menu ul li {
	    padding-right: 12px;
	}
	.contact_title h1 {
		font-size: 18px;
	    padding-bottom: 10px;
	}
	.contact_salon2, .contact_salon {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.contact_sklad {
		padding-top: 15px;
	}
}
@media (max-width: 1280px) {
	.main_left {
		width: 64%;
	}
	.news_last_img {
		min-height: 200px;
	}
	.news_list_img {
		min-height: 150px;
	}
	.main_right {
		width: 35%;
	}
	input[type="text"].search {
		width: 250px;
		top: 22px;
	}
	input[type="submit"].search_submit {
		left: 365px;
		top: 29px;
	}
	.logo a img {
		width: 230px;
	}
	.phone, .header_text {
		font-size: 14px;
	}
	.main_left h2 {
		font-size: 36px;
		line-height: 40px;
	}
	.footer_menu ul li a, .footer_copyright {
		font-size: 12px;
	}
	.main_wrap {
		padding-left: 40px;
    	padding-right: 80px;
	}
	.main_text {
	    left: 40px;
	}
	.button_inner {
		left: 26px;
	}
	.phone {
		padding-top: 7px;
	}
	.contact_salon2, .contact_salon {
		padding-left: 30px;
		padding-right: 20px;
	}
	.contact_soc {
		padding-left: 30px;
	}
	.contact_sklad {
		padding-left: 30px;
	}
	.contact_soc {
		padding-top: 0;
	}
	.contact_title h1 {
		padding-left: 30px;
	}
	.footer {
		left: 40px;
		bottom: 40px;
	}
	.footer_copyright {
		right: 40px;
		bottom: 42px;
	}
	.footer_menu ul li {
		padding-right: 12px;
	}
	.row .brend_top {
		padding-left: 40px;
	}
	.row .brend_bottom {
		padding-left: 40px;
	}
	.brend_bottom img {
		width: 160px;
	}
	.catalogin_block_inner {
		width: 33%;
	}
}
@media (max-width: 1024px) {
	.stroy_wrap .tabs-title > a {
		font-size: 20px;
	}
	.stroy_wrap .tabs-title:first-child, .page_content, .page_footer {
		padding-left: 20px;
	}
	.row_right .slider-nav {
	    padding-bottom: 100px;
	}
	.stroy_wrap {
		z-index: 8;
	}
	.page_footer {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 10;
	    background-color: #fff;
	}
	.catalogin_slide_inner {
		flex-direction: column;
	}
	.catalogin_slide_1 {
		width: 100%;
	}
	.catalogin_slide_2 {
		width: 100%;
		padding-left: 0;
	}
	.catalogin_slide_2.slick-initialized .slick-slide {
		width: 25%!important;
	}
	.catalogin_slide_2.slick-initialized .slick-track {
		margin-left: -20px;
		margin-right: -20px;
		margin-top: 15px;
	}
}
@media (max-width: 920px) {
	.row_right .slick-slide div {
		display: block;
	}
	.mobile_form {
		display: flex;
	}
	.catalog_wrap {
		flex-direction: column;
	}
	.catalogin_block_inner {
		width: 50%;
	}
	.contact_inner {
		flex-direction: column;
	}
	.contact_row1, .contact_row2, .contact_row3 {
		width: 100%;
	}
	.fixed {
		position: relative;
		box-shadow: none;
	}
	.contact_soc {
		border-bottom: 1px solid rgba(189, 189, 189, .5);
		padding-bottom: 10px;
	}
	.container_catalog_inner {
		position: relative;
	}
	#map {
		height: 330px!important;
	}
	.row_catalog_left {
		width: 100%;
		border: none;
	}
	.page_list_title {
	    padding-top: 0;
	}
	.news_list {
		padding-left: 20px;
		padding-right: 20px;
	}
	.news_list_block {
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.news_last_img {
		width: 100%;
		padding: 0;
		min-height: 300px;
	}
	.news_last_desc {
		width: 100%;
		padding: 0;
		margin-top: 15px;
	}
	.news_last {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}
	.page_list_title h1 {
		font-size: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
	}
	.catalogin_content_inner {
		margin-left: -10px;
		margin-right: -10px;
	}
	.catalogin_content {
		padding-right: 0;
	}
	.catalogin_block_inner {
		padding: 10px;
	}
	.catalogin_slide_2 .slick-slide .catalogin_trigger {
		max-height: 50px;
	}
	.catalogin_slide_2.slick-initialized .slick-slide {
		padding-left: 5px;
		padding-right: 5px;
	}
	.row {
		width: 100%;
	}
	.catalog_content {
		padding-left: 0;
		padding-top: 20px;
		padding-right: 0;
	}
	.breadcramb_catalog {
		padding-left: 40px;
	}
	.breadcramb_catalog h1 {
		font-family: "Montserrat", sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: normal;
		color: #FFFFFF;
	}
	.catalog_block {
	    padding-left: 10px;
	    padding-right: 10px;
		padding-bottom: 20px;
	}
	.catalog_inner {
		margin-left: -10px;
		margin-right: -10px;
	}
	.main_form, .page_footer_catalog {
		display: none;
	}
	.row:first-child .brend_bottom {
		padding-bottom: 60px;
	}
	.row:first-child {
		border-right: none;
	}
	.row:last-child .brend_top {
		border-top: 1px solid rgba(189, 189, 189, 1);
	}
	.stroy_wrap .tabs-title > a, .breadcramb {
		font-size: 16px;
	}
	.row .brend_top {
		justify-content: center;
	}
	.stroy_wrap .tabs-title:last-child a {
		border-right: none;
	}
	.breadcramb {
		display: flex;
	}
	body {
		overflow: scroll;
	}
	.row_right .slider-nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 0;
		padding-right: 0;
	}
	.container {
		flex-direction: column;
		height: auto;
	}
	.stroy_wrap {
		border-right: none;
	}
	.row_right .slider-for {
	    height: 450px;
	}
	.prev {
	    top: 225px;
	    left: 23px;
	}
	.next {
	    top: 225px;
	    right: 23px;
	}
	.page_content, .stroy_wrap .tabs-title:first-child {
		padding-left: 0;
	}
	.row_left, .row_right {
		width: 100%;
	}
	.row_right {
		padding-left: 15px;
		padding-right: 15px;
	}
	.phone, .footer, .header_text, .page_footer {
		display: none;
	}
	.section {
		background-position: center;
	}
	.main_left {
		width: 100%;
		height: auto;
	}
	.header_left {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.main_right {
		width: 100%;
		justify-content: center;
		top: auto;
		bottom: 165px;
		position: absolute!important;
	}
	.button_inner {
	    left: 7px;
	    top: 200px;
	}
	.main_right a img {
		width: 260px;
	}
	.footer_copyright {
	    right: 16px;
	    bottom: 10px;
	}
	.row_right .slider-nav {
	    padding-bottom: 10px;
	    padding-top: 10px;
	}
	.main_text {
	    left: 0;
	    top: auto;
	    bottom: -111px;
	    right: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.main_left h2 {
	    font-size: 32px;
	    line-height: 40px;
	}
	.main_wrap {
	    top: 70px;
	    padding-left: 25px;
	    padding-right: 25px;
	    height: 100%;
		display: flex;
	    flex-direction: column;
	    width: 100%;
	}
	.button_inner {
	    left: 7px;
	    top: 190px;
	}
	.arrow {
		-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	   -o-transform: rotate(-90deg);
	   -ms-transform: rotate(-90deg);
	   transform: rotate(-90deg);
	}
	.main_right {
		bottom: 200px;
	}
	.button_inner {
	    left: 0;
	    top: 176px;
	    right: 0;
	    justify-content: center;
	}
	.arrow {
	    position: absolute;
	    right: 0;
	    display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    top: auto;
	    bottom: 63px;
	    left: 0;
	    width: 100%;
	    height: 441px;
	    justify-content: space-between;
	    align-items: center;
	}
	.header_left {
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.main_text {
	    left: 0;
	    top: auto;
	    bottom: 154px;
	    right: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.arrow_down {
		margin-bottom: 0;
	}
	.burger_inner {
		width: 50%;
		display: flex;
	}
	.burger_inner a {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header_search {
		width: 50%;
	}
	.header_left {
		flex: 1;
	}
	.header_right {
		width: 160px;
	}
	.search_trigger_mobile {
		display: flex;
		height: 100%;
		width: 106px;
		align-items: center;
		justify-content: center;
		border-right: 1px solid rgba(189, 189, 189, .5);
	}
	.search_trigger {
		display: none;
	}
	.catalogin_content_title h2 {
		font-size: 18px;
		line-height: 20px;
	}
	.tovar_slide_inner, .tovar_desc {
		width: 100%;
		padding: 0;
	}
	.catalog_wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
	.opt_content {
		padding: 0;
		margin: 0;
	}
	.opt_inner {
		padding-left: 10px;
		padding-right: 10px;
	}
	.opt_tabs .tabs-content {
		margin-left: -10px;
		margin-right: -10px;
	}
	.opt_block {
		margin-bottom: 20px;
	}
}
@media (max-width: 768px) {
	.news_list_block {
		width: 100%;
	}
	.news_last {
		border-bottom: 1px solid #BDBDBD;
	}
	.search_inner {
		padding-left: 0;
		padding-top: 0;
	}
	.news_list_block {
	    border-bottom: 1px solid #BDBDBD;
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-bottom: 10px;
	    padding-top: 10px;
	}
	.search_result_title {
		border: none;
		flex-direction: column;
		width: 100%;
	}
	.search_result_title_text, .search_result_title_button {
		padding-left: 15px;
		padding-right: 15px;
	}
	.search_inner h1, .search_form{
		padding-left: 15px;
		padding-right: 15px;
	}
	.search_inner h1 {
		border-bottom: 1px solid rgba(189, 189, 189, .5);
		padding-bottom: 10px;
		font-size: 18px;
	}
	.search_form input[type=text] {
		width: 100%;
		margin-bottom: 10px;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.search_form input[type=submit] {
		width: 100%;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.search_form{
		flex-direction: column;
	}
	.search_result_title_text {
		padding-bottom: 10px;
	}
	.search_result_list {
		padding-left: 15px;
		padding-top: 10px;
	}
	.search_result_title_button {
	    justify-content: flex-end;
		padding-top: 20px;
	}
	.search_result_title_text {
	    border-bottom: 1px solid rgba(189, 189, 189, .5);
	    margin: 0;
	}
	.news_list_block:last-child {
		border: none;
	}
	.news_last_desc_date span {
		font-size: 13px;
	}
	.news_last_desc_text p {
		font-size: 12px;
	}
	.news_list {
		padding-top: 20px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
	.news_last_img {
		min-height: 150px;
	}
	.news_last_img h2 {
		font-size: 16px;
		line-height: 20px;
	}
}
@media (max-width: 480px) {
	body {
		position: relative;
		height: 100vh!important;
	}
	.search_result_list {
		padding-top: 15px;
	}
	.contact_title h1, .contact_soc, .contact_sklad {
		padding-left: 10px;
	}
	.contact_salon2, .contact_salon {
		padding-left: 10px;
		padding-right: 10px;
	}
	.opt_tabs ul li a {
		font-size: 12px;
		line-height: 18px;
		padding-left: 6px;
		padding-right: 6px;
		margin-right: 10px;
	}
	.pagination ul li a {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.opt_tabs .tabs {
		margin-bottom: 10px;
	}
	.opt_block span {
		font-size: 12px;
	}
	.catalog_wrap {
		padding-left: 15px;
		padding-right: 15px;
	}
	.breadcramb_catalog {
	    padding-left: 15px;
	}
	.row_right .slider-for {
		height: 160px;
	}
	.catalog_title h2 {
		font-size: 24px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.stroy_wrap .tabs-title > a, .breadcramb {
		font-size: 13px;
		padding: 12px;
	}
	.prev {
	    top: 70px;
	    left: 20px;
	}
	.next {
	    top: 70px;
	    right: 20px;
	}
	.slider-nav img {
	    width: 70px;
	    height: 45px;
	}
	.section {
	    height: 100vh!important;
	    overflow: hidden;
	}
	.page_content h1 {
	    font-size: 16px;
	    margin-bottom: 10px;
	    margin-top: 10px;
	}
	.main_right {
	    bottom: 150px;
	}
	.main_right a img {
		width: 170px;
	}
	.main_left h2 {
		font-size: 18px;
		line-height: 22px;
	}
	.button_inner a img {
		width: 128px;
	}
	.button_inner {
	    left: 7px;
	    top: 90px;
	}
	.arrow {
	    position: absolute;
	    right: 0;
	    display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    top: auto;
	    bottom: 100px;
	    left: 0;
	    width: 100%;
	    height: 300px;
	    justify-content: space-between;
	    align-items: center;
	}
	.main_text {
	    left: 0;
	    top: auto;
	    bottom: 110px;
	    right: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.arrow_up, .arrow_down {
	    width: 40px;
	    height: 40px;
	}
	.main_text span {
		font-size: 14px;
	}
	.arrow_down {
		margin-bottom: 0;
	}
	.canvas_phone {
	    padding: 18px;
		font-size: 12px!important;
	}
	.canvas_menu li a {
	    padding: 16px;
	}
	.canvas_burger {
	    width: 50px;
	    height: 50px;
	    padding: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.canvas_burger img {
		width: 18px;
		height: 18px;
	}
	.position-right {
		width: 260px;
	}
	.canvas_menu li span {
		font-size: 12px;
		color: #BDBDBD;
		padding: 16px;
		font-family: "Montserrat", sans-serif;
		display: flex;
	}
	.header_right {
		width: 100px;
	}
}
@media (max-width: 360px) {
	.arrow {
	    bottom: 60px;
	}
}
